<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/practic.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="header">
            Адаптивный сайт на грид
        </div>
        <div class="hero">
            <h1>Welkome</h1>
        </div>
        <div class="main-content">
        <div class="content-block">
            <h2>Адаптивный дизайн</h2>
            <p>Данный макет полностью адаптивен и отлично смотрится на всех сайтах</p>
        </div>
        <div class="content-block">
            <h2>Современный дизайн</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio quos illum iusto, facilis eos aliquam dignissimos enim nesciunt corporis fugiat ut voluptatibus esse provident. Dolorem omnis quis explicabo commodi ut?</p>
        </div>
        </div>
        <div class="sidebar">
            <h2>Контакты</h2>
            <p>Телефон: +7 965 567 45 67</p>
            <p>Email: dghgvsdg@gmail.com</p>
        </div>
        <div class="footer">
            &copy; 2024 Адаптивный дизайн. Все права защищены
        </div>
    </div>
   

</body>
</html>